html, body {
  height: 100%;
  font-family: sans-serif;
}

canvas {
    background: transparent;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*opacity: 0.5;*/
}

/*stuff for slide out menus*/
#containerL {
   display: flex;
   min-height: 100%;
}
#containerR {
   display: flex;
   min-height: 100%;
}
#containerB {
   display: flex;
}
input[type=checkbox] {
   position: absolute;
   opacity: 0;
}
.lefty_label {
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 1;
  display: block;
  font-size:3em;
  color: black;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}
.righty_label {
  position: absolute;
  right: 30px;
  top: 50px;
  z-index: 1;
  display: block;
  font-size:3em;
  color: black;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}
.bottom_label {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  display: block;
  font-size:3em;
  cursor: pointer;
  transform: translate3d(-500, 0, 0);
  transition: transform .3s;
}
.lefty input[type=checkbox]:checked ~ label{
  transform: translate3d(265px, 0px, 0);
}
.righty input[type=checkbox]:checked ~ label{
  transform: translate3d(-250px, 0px, 0);
}
.bottom input[type=checkbox]:checked ~ label{
  transform: translate3d(0, -15px, 0);
}
.content {
   width:100%;
   padding: 40px;
   background: #f2f2f2;                        /*this needs to change*/
   transform: translate3d(0, 0, 0);
   transition: transform .7s;
}
.lefty input[type=checkbox]:checked ~ .content{
   transform: translate3d(250px, 0, 0);
}
.righty input[type=checkbox]:checked ~ .content {
   transform: translate3d(-400px, 0, 0);
}
.bottom input[type=checkbox]:checked ~ .content {
   transform: translate3d(0, -150px, 0);
}
input[type=checkbox]:checked ~ .slide-menu {
   transform: translate3d(-210px, 0, 0);
}

input[type=checkbox]:checked ~ .slide-menu .menu li {
   width: 100%;
}
.lefty .slide-menu{
   transform: translate3d(-250px, 0, 0);
   position: absolute;
   width: 250px;
   background: #4f6b81;
   /*background: transparent;*/
   color: #ddd;
   left: 0;
   height: 100%;
   transition: all .7s;
}
.righty .slide-menu{
   transform: translate3d(250px, 0, 0);
   position: absolute;
   width: 250px;
   background: #4f6b81;
   /*background: transparent;*/
   color: #ddd;
   right: 0;
   height: 100%;
   transition: all .7s;
}
.bottom .slide-menu{
   transform: translate3d(-200px, 175px, 0);
   position: absolute;
   /*width: 250px;*/
   /*background: #4f6b81;*/
   /*background: transparent;*/
   /*color: #ddd;*/
   bottom: 0;
   /*left: 0;
   right: 0;*/
   /*height: 100%;*/
   transition: all .4s;
}

.slide-menu h1 {
   margin: 10px;
   text-shadow: 1px 1px 1px #000;
}
.menu {
   list-style: none;
   padding: 0;
   margin: 0;
}
.menu a {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 1.1em;
   padding: 15px;
   background: linear-gradient(#628297, #4f6b81);
   border-bottom: 1px solid #1e222b;
   box-shadow: inset 0px 1px 1px #8b9db3;
}
.menu a:hover {
   background: linear-gradient(#3b3f48, #3c434d);
   box-shadow: inset 0px 1px 1px #475059;
}
/*end of slide menu stuff*/

/* this is my attempt to make my layout not suck*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(25, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 2;
}
.two {
  grid-column: 11;
  grid-row: 2;
}
.four {
  grid-column: 12;
  grid-row: 5
}
.five {
  grid-column: 2;
  grid-row: 1;
}
#gongSpace {
  z-index: -1;
}
i {
  color: red;
}
#clippie {
  background-color: white;
}
/* styles for buttons, button grid*/
.wrapper1{
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.circle {
  grid-column: 9;
  grid-row: 1
}
.line {
  grid-column: 10;
  grid-row: 1
}
.square {
  grid-column: 11;
  grid-row: 1
}
.triangle {
  grid-column: 12;
  grid-row: 1
}
.pentagon {
  grid-column: 13;
  grid-row: 1
}
.hexagon {
  grid-column: 14;
  grid-row: 1
}
.heptagon {
  grid-column: 15;
  grid-row: 1
}
.remove {
  grid-column: 16;
  grid-row: 1;
}
.box {
  /*border: 2px solid red;*/
  background-color: black;
}
/*footer grid*/
.footwrap{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.footmid {
  grid-column: 3;
  grid-row: 1;
}
.footright{
    grid-column: 5;
    grid-row: 1;
}
/*svg buttons*/
svg {
    margin-top: 10px;
    -webkit-animation: rotation 2s infinite linear;
}
#remove{
  margin-top: 10px;
  margin-left: 10px;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

/* positioning the gong line images*/
#gongLineTop{
  right: 0;
  bottom: 0;
  grid-column: 3;
  grid-row: 4;
}
#gongLineBot{
  right: 0;
  bottom: 0;
  grid-column: 3;
  grid-row: 1;
}
