/*dev only remove for prod*/
/*.border {
  border: solid 2px red;
}*/
/*dev only remove for prod*/

canvas {
    background: transparent;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*opacity: 0.5;*/
}
/* background gradient stuff*/
body {
  background: linear-gradient(45deg, #12d919, #3112d9);
  background-size: 400% 400%;

  -webkit-animation: slide 20s ease infinite;
  -moz-animation: slide 20s ease infinite;
  animation: slide 20s ease infinite;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@-webkit-keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*stuff for slide out menus*/
html, body {
   height: 100%;
}

#containerL {
   display: flex;
   min-height: 100%;
}
#containerR {
   display: flex;
   min-height: 100%;
}
input[type=checkbox] {
   position: absolute;
   opacity: 0;
}

.lefty_label {
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 1;
  display: block;
  font-size:3em;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}
.righty_label {
  position: absolute;
  right: 30px;
  top: 50px;
  z-index: 1;
  display: block;
  font-size:3em;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}
.lefty input[type=checkbox]:checked ~ label{
  transform: translate3d(220px, 0px, 0);
}

.righty input[type=checkbox]:checked ~ label{
  transform: translate3d(-250px, 0px, 0);
}

.content {
   width:100%;
   padding: 40px;
   background: #f2f2f2;
   transform: translate3d(0, 0, 0);
   transition: transform .7s;
}
.lefty input[type=checkbox]:checked ~ .content{
   transform: translate3d(250px, 0, 0);
}
.righty input[type=checkbox]:checked ~ .content {
   transform: translate3d(-400px, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu {
   transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu .menu li {
   width: 100%;
}
.lefty .slide-menu{
   transform: translate3d(-250px, 0, 0);
   position: absolute;
   width: 250px;
   /*background: #4f6b81;*/
   background: transparent;
   color: #ddd;
   left: 0;
   height: 100%;
   transition: all .4s;
}
.righty .slide-menu{
   transform: translate3d(250px, 0, 0);
   position: absolute;
   width: 250px;
   /*background: #4f6b81;*/
   background: transparent;
   color: #ddd;
   right: 0;
   height: 100%;
   transition: all .4s;
}

.slide-menu h1 {
   margin: 10px;
   text-shadow: 1px 1px 1px #000;
}
.menu {
   list-style: none;
   padding: 0;
   margin: 0;
}
.menu a {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 1.1em;
   padding: 15px;
   background: linear-gradient(#628297, #4f6b81);
   border-bottom: 1px solid #1e222b;
   box-shadow: inset 0px 1px 1px #8b9db3;
}
.menu a:hover {
   background: linear-gradient(#3b3f48, #3c434d);
   box-shadow: inset 0px 1px 1px #475059;
}

/* this is my attempt to make my layout not suck*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 2;
  grid-row: 6
}
