<header>
  <div class="wrapper1">
      <span class="circle box">
        <a href="#" ng-click="$ctrl.circleAdd()">
        <svg id="circleSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle cx="26" cy="26" r="22" stroke="red" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="line box">
        <a href="#" ng-click="$ctrl.lineAdd()">
        <svg id="lineSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <line x1="1" x2="49" y1="26" y2="26" stroke="blue" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="triangle box">
        <a href="#" ng-click="$ctrl.triangleAdd()">
        <svg id="triangleSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon id="trianglePath" points="" stroke="green" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="square box">
        <a href="#" ng-click="$ctrl.squareAdd()">
        <svg id="square SVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon id="squarePath" points="" stroke="yellow" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="pentagon box">
        <a href="#" ng-click="$ctrl.pentagonAdd()">
        <svg id="pentagonSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon id="pentagonPath" points="" stroke="orange" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="hexagon box">
        <a href="#" ng-click="$ctrl.hexagonAdd()">
        <svg id="hexagonSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon id="hexagonPath" points="" stroke="lightblue" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span class="heptagon box">
        <a href="#" ng-click="$ctrl.heptagonAdd()">
        <svg id="heptagonSVG" width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon id="heptagonPath" points="" stroke="lightgreen" fill="transparent" stroke-width="3"/>
        </svg>
      </a>
      </span>

      <span id="remove" class="remove">
        <a href="#" ng-click="$ctrl.lastRemove()">
          <i class="fa fa-undo fa-3x" aria-hidden="true"></i>
        </a>
      </span>
    </div>
</header>

<div class="wrapper">

  <div id="containerL" class="lefty one">
    <input id="lefty" type="checkbox" class="lefty"><label class="lefty_label" for="lefty"><i class="fa fa-sliders"></i></label>
    <div class="slide-menu lefty">
      <nav class="menu lefty">
        <li>
          <h1>Drone</h1>
          <input ng-model="$ctrl.droneSlider" ng-change="$ctrl.droneVolume($ctrl.droneSlider)" type="range" ng-value="-42.0" step="0.5" min="-42.0" max="-6.0">
        </li>
        <li>
          <h1>Bounce</h1>
          <input ng-model="$ctrl.bounceSlider" ng-change="$ctrl.delayMix($ctrl.bounceSlider)" type="range" ng-value="0.0" step="0.01" min="0.0" max="1.0">
        </li>
        <li>
          <h1>Shimmy</h1>
          <input ng-model="$ctrl.shimmySlider" ng-change="$ctrl.shimmyMix($ctrl.shimmySlider)" type="range" ng-value="0.0" step="0.5" min="0.0" max="100.0">
        </li>
        <li>
          <h1>Base Frequency</h1>
          <div>
            <input ng-model="$ctrl.baseFreq" ng-change="$ctrl.freqChoice($ctrl.baseFreq)" type="radio" id="base1" ng-value="200" name="baseFreq">
            <!-- <label for="contactChoice1">Email</label> -->
            <input ng-model="$ctrl.baseFreq" ng-change="$ctrl.freqChoice($ctrl.baseFreq)" type="radio" id="base2" ng-value="300" name="baseFreq">
            <!-- <label for="contactChoice2">Phone</label> -->
            <input ng-model="$ctrl.baseFreq" ng-change="$ctrl.freqChoice($ctrl.baseFreq)" type="radio" id="base3" ng-value="400" name="baseFreq">
            <!-- <label for="contactChoice3">Mail</label> -->
          </div>
        </li>
        <li>
          <h1>Tone Clusters</h1>
          <div>
            <input ng-model="$ctrl.toneChoice" ng-change="$ctrl.toneChooser($ctrl.toneChoice)" type="radio" id="tone1" ng-value="$ctrl.allTwelve" name="toneChoice">
            <!-- <label for="contactChoice1">Email</label> -->
            <input ng-model="$ctrl.toneChoice" ng-change="$ctrl.toneChooser($ctrl.toneChoice)" type="radio" id="tone2" ng-value="$ctrl.downTone" name="toneChoice">
            <!-- <label for="contactChoice2">Phone</label> -->
            <input ng-model="$ctrl.toneChoice" ng-change="$ctrl.toneChooser($ctrl.toneChoice)" type="radio" id="tone3" ng-value="$ctrl.upTone" name="toneChoice">
            <!-- <label for="contactChoice3">Mail</label> -->
          </div>
        </li>
      </nav>
    </div>
  </div>

    <!-- <img id="gongLineBot" src="media/gradientBot.png"> -->

  <div id="gongSpace" class="two"></div>

  <div id="containerR" class="righty three">
    <input id="righty" type="checkbox" class="righty"><label class="righty_label" for="righty"><i class="fa fa-sliders"></i></label>
    <div class="slide-menu righty">
      <nav class="menu righty">
        <li>
          <div>
            <h1>Speed</h1>
            <div ng-repeat="rot in $ctrl.builder.gongStack track by $index">
              <input ng-model="rot.speed" ng-change="$ctrl.builder.rotateUpdate(rot.speed, rot)" name="rotSlider" type="range" min="5" step="1" max="200">
            </div>
          </div>
        </li>
        <li>
          <div>
            <h1>Scale</h1>
            <div ng-repeat="size in $ctrl.builder.gongStack track by $index">
              <input ng-model="size.group.scale.x" ng-change="$ctrl.builder.setScale(size.group.scale.x, size)" name="scaleSlider" type="range" step="0.01" min="0.01" max="6">
            </div>
          </div>
        </li>
        <li>
          <h1>Gong Volumes</h1>
          <div ng-repeat="vol in $ctrl.builder.gongStack track by $index">
          <input ng-model="vol.volume" ng-change="$ctrl.builder.volUpdate(vol.volume, vol)" name="volSlider" type="range" step="0.01" min="0.01" max="1.2">
          </div>
        </li>
      </nav>
    </div>
  </div>

  <!-- <img id="gongLineTop" src="media/gradientTop.png"> -->

  <!-- class="four center url" -->
<footer class="four">
  <div class="footwrap">
    <div id="containerB" class="bottom footmid">
        <input id="bottom" type="checkbox" class="bottom"><label class="bottom_label" for="bottom"><i class="fa fa-sliders"></i></label>
      <div class="slide-menu bottom">
        <nav class="menu bottom">
          <li>
            <button ng-click="$ctrl.getUrl()">GET URL</button> <span id="clippie" value="http://polygong.herokuapp.com/{$ctrl.url.displayUrl}" ng-model="$ctrl.url.displayUrl">http://polygong.herokuapp.com/{{$ctrl.url.displayUrl}}</span>
            <button class="btn" data-clipboard-target="#clippie">Copy To Clipboard</button>
          </li>
        </nav>
      </div>
    </div>
  </div>
</footer>

</div><!-- end wrapper -->
