<header>
  <div>
    <div>
      <button ng-click="$ctrl.circleAdd()">ADD CIRCLE</button>
      <button ng-click="$ctrl.lineAdd()">ADD LINE</button>
      <button ng-click="$ctrl.triangleAdd()">ADD TRIANGLE</button>
      <button ng-click="$ctrl.squareAdd()">ADD SQUARE</button>
      <button ng-click="$ctrl.pentagonAdd()">ADD PENTAGON</button>
      <button ng-click="$ctrl.hexagonAdd()">ADD HEXAGON</button>
      <button ng-click="$ctrl.heptagonAdd()">ADD HEPTAGON</button>
      <button ng-click="$ctrl.lastRemove()">Remove Last Shape Added</button>
    </div>
  </div>
</header>

<div class="wrapper">

  <div id="containerL" class="lefty one">
    <input id="lefty" type="checkbox" class="lefty"><label class="lefty_label" for="lefty"><i class="fa fa-sliders"></i></label>
    <div class="slide-menu lefty">
      <nav class="menu lefty">
        <li>
          <h1>Drone</h1>
          <input ng-model="droneSlider" ng-change="$ctrl.droneVolume(droneSlider)" type="range" ng-value="-36" step="0.5" min="-36" max="6">
        </li>
        <li>
          <h1>Bounce</h1>
          <input ng-model="bounceSlider" ng-change="$ctrl.delayMix(bounceSlider)" type="range" ng-value="0.0" step="0.01" min="0.0" max="1.0">
        </li>
        <li>
          <h1>Shimmy</h1>
          <input ng-model="shimmySlider" ng-change="$ctrl.verbMix(shimmySlider)" type="range" ng-value="0.0" step="0.01" min="-0.0" max="0.7">
        </li>
      </nav>
    </div>
  </div>

  <div id="gongSpace" class="two"></div>

  <div id="containerR" class="righty three">
    <input id="righty" type="checkbox" class="righty"><label class="righty_label" for="righty"><i class="fa fa-sliders"></i></label>
    <div class="slide-menu righty">
      <nav class="menu righty">
        <li>
          <div>
            <h1>Gong Rotation Speeds</h1>
            <div ng-repeat="rot in $ctrl.builder.gongStack track by $index">
              <input ng-model="rotSlider" ng-change="$ctrl.builder.rotateUpdate(rotSlider, $index)" name="rotSlider" type="range" ng-value="25" step="1" min="3" max="125">
              <button ng-click="$ctrl.builder.rotateSwitch($index)">FLIP</button>
            </div>
          </div>
        </li>
        <li>
          <h1>Gong Volumes</h1>
          <div ng-repeat="vol in $ctrl.builder.gongStack track by $index">
          <input ng-model="volSlider" ng-change="$ctrl.builder.volUpdate(volSlider, $index)" name="volSlider" type="range" ng-value="0.5" step="0.01" min="0.01" max="1.2">
          </div>
        </li>
      </nav>
    </div>
  </div>



<footer class="four center">
<div>
  <button ng-click="$ctrl.getUrl()">GET URL</button> <span ng-model="$ctrl.url.displayUrl">http://polygong.herokuapp.com/{{$ctrl.url.displayUrl}}</span>
</div>
</footer>

</div><!-- end wrapper -->
